<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858277648871-g6s8k3vlmcgvsngahu3r8ir2d2fb8m5g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858277648871-g6s8k3vlmcgvsngahu3r8ir2d2fb8m5g</string>
	<key>API_KEY</key>
	<string>AIzaSyCG314JWEsnix0zp5Oyh8kf4VKee0KIph4</string>
	<key>GCM_SENDER_ID</key>
	<string>858277648871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsApp</string>
	<key>PROJECT_ID</key>
	<string>news-app-65f82</string>
	<key>STORAGE_BUCKET</key>
	<string>news-app-65f82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858277648871:ios:629a2943eb18e791144542</string>
</dict>
</plist>